@tailwind base;
@tailwind components;
@tailwind utilities;

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.edit-workout {
  position: absolute;
  cursor: pointer;
  top: 100px;
  right: 20px;
  padding: 6px;

}



.popup-form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;

}


.popup-form > label {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.workout-load-details, .workout-reps-details {
  display: flex;
  column-gap: 10px;
  padding-bottom: 10px;
}
